{% extends 'base-site.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block css %}{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% if products %}
                <table class="table cart-table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Price</th>
                      <th scope="col">Remove</th>
                    </tr>
                  </thead>
                  <tbody class='cart-body'>
                  {% for product in products %}
                    <tr class="cart-products">
                        <td scope="row">{{ forloop.counter}}</td>
                        <td><a href="{{ product.get_absolute_url }}">{{ product.name|title }}</a></td>
                        <td>{{ product.price }}</td>
                        <td>{% include 'product/snippets/cart-remove.html' with product_id=product.id %}</td>
                    </tr>
                  {% endfor %}
                  <tr>
                      <td class="colspan-2"></td>
                      <td><b>Sub Total:</b></td>
                      <td><b>$</b><b class="cart-sub-total">{{ cart.sub_total }}</b></td>
                  </tr>
                  <tr>
                      <td class="colspan-2"></td>
                      <td><b>Total:</b></td>
                      <td><b>$</b><b class="cart-total">{{ cart.total }}</b></td>
                  </tr>
                  <tr>
                      <td class="colspan"></td>
                      <td class="colspan"></td>
                      <td><a class="btn btn-success" href="{% url 'cart:checkout' %}">Checkout</a></td>
                  </tr>
                  </tbody>
                </table>
                <div class="cart-remove-hidden-form">
                    {% include 'product/snippets/cart-remove.html' %}
                </div>
                {% else %}
                <h2>Product Not in cart list</h2>
                {% endif%}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}{% endblock %}