{% extends 'base-site.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block css %}{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class='row'>
            <div class="col-12 text-center py-5">
                    <h1 class='my-5 py-5'>Password reset complete</h1>
                    <a href='/login'>Login</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}{% endblock %}