{% extends 'base-site.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block css %}{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class='row'>
            <div class='col-10  mx-auto'>
            <h1>Reset your Password</h1>
                <form method='post' action=''>{% csrf_token %}
                {{ form.as_p }}
                <span style='margin-bottom: 12px;'></span>
                <button type="submit" class='btn btn-block btn-info'>Reset Password</button>
                </form>
              </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}{% endblock %}

