{% extends 'base-site.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block css %}{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
        {% for product in object_list %}
            <div class="col-12 col-md-3">
                <!--{{ forloop.counter }}-->
                {% include 'product/snippets/card.html' with instance=product %}

                {% if forloop.counter|divisibleby:4 %}
                </div></div><div class="row mt-5">
                {% else %}
                </div>
                {% endif %}
        {% endfor  %}

        <!--<div class="row">-->
            <div class="col-12 text-center">
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ page_obj.number }} of {{ paginator.num_pages }}.
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        <!--</div>-->
    </div>
</section>
{% endblock %}

{% block js %}{% endblock %}