{% extends 'base-site.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block css %}{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <form class="form-group login-form-ajax" action="{% url 'account:login' %}" method="POST">
                    {% csrf_token %}
                    {% if next_url %}
                    <input type="hidden" name="next" value="{{ next_url }}">
                    {% endif %}
                    {{ form.as_p }}

                    <div class="form-group">
                        <button class="btn btn-success" type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}{% endblock %}