{% extends 'base-site.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block css %}{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 offset-0 col-md-8 offset-md-2">
                <form class="contact_form_ajax" action="{% url 'pages:contact' %}" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}{% endblock %}